body{
    color: white;
    background-color: #123456;
}

.img{
    padding: 0;
}

.quote{
    background-image: url("Assets/Images/Space.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}

.title{
    font-size: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
}




 